#footer{
    width: 1200px;
    height: 150px;
    background-color: darkred;
}

#footer>#logo{
    float:left;
    width: 200px;
    height: 150px;
    background-color: mediumseagreen;
}

#footer>#copyright{
    float:left;
    width: 800px;
    height: 150px;
    background-color: chocolate;
}

#footer>#sns{
    float:left;
    width: 200px;
    height: 150px;
    background-color: brown;
}