@charset "UTF-8";

/*@font-face{*/
/*    font-family: '빙그레체';*/
/*    src:url("../../리소스/Binggrae.ttf")*/
/*}*/
:root{
    --main-color: #1d8350;
    --text-bright-color:#FFF; /* 흰색 - 텍스트 */
    --accent-color:#2697b1; /* 강조 색 */

}
body{
    padding: 0;
    margin: 0;
}

.conA{
    display: flex;
    color:var(--text-bright-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* 세로 화면을 꽉 채우도록 */
    background-image:url("../img/data.avif");
    background-position: center;
    background-size: cover;
}

.conA h1{
    margin-left: 0.2em; /* letter-spacing 때문에 왼쪽도 띄워줌 */
    margin-top:0;
    margin-bottom:10px;
    font-size:8vw;
    letter-spacing: 0.2em; /* 글자 간격 띄우기 */
}
.conA p{
    margin: 0 0;
    font-size: 2rem;
}

.conA img{
    width: 10%;
}

.conA a {
    display:inline-block;
    margin-top:20px;
    padding:10px 30px;
    font-size:1.2rem;
    color: var(--text-bright-color);
    background-color: var(--accent-color);
    border:3px solid white;
    text-decoration: none;
    border-radius: 0.5rem;
}

/* 768px을 기준으로 반응형 */
@media screen and (min-width:768px) {
    /* 만약 화면 너비가 768px 이라면 1vw = 7.68px, 8vw = 61.44px */
    .conA h1{
        font-size: 61.44px;
    }
    .conA p{
        font-size:50px;
    }
}
/* conB 관련 */
.conB h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 25px;
}

.conB p{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.8;
    opacity: 0.8;
}
.conB a{
    color: var(--main-color);
    text-decoration: none;
}
.conB a:hover{
    text-decoration: underline;
}
.conB .icon{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 40px;
    width: 2em;
    line-height:2em;
    background-color: #D1D1D1;
    border-radius: 50%;
    text-align: center;
}
.conB .container{
    padding:80px 20px;
}
.conB .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    text-align: center;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
@media screen and (min-width:768px) {
    .conB .container{
        display: flex;
    }
    .conB .text{
        flex :1;
    }
}
.more{
    position:absolute;
    bottom: 40px;
}
.more > a{
    margin-right: 0.2rem;
}
