input {
    width: 490px;
    height: 30px;
    padding: 5px 0;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    border: none;
    color: #000;
}
table, tr, td{
    border: 1px solid black;
    width: 100px;
    height: 70px;
    padding: 10px;
    margin: 10px;
}

table{
    width: 500px;
}
select{
    width: 200px;

    padding: .8em .5em;

    border: none;

    font-family: inherit;

    background: url('arrow.png') no-repeat 95% 50%;

    border-radius: 0px;

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: none;
}


select::-ms-expand {

    display: none;

}

#phone2{
    text-align: center;
    display: inline-block;
    width: 220px;
}
#phone3{
    text-align: center;
    display: inline-block;
    width: 220px;
}

.btn-container{
    display: flex;
    justify-content: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.join-container {
    display: flex;
    justify-content: center;
}

#first-page {
    padding: 10px;
    margin: 5px;
    width: 150px;
    height: 60px;
}
#success {
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 60px;
}